@import "tailwindcss";

@plugin "@iconify/tailwind4" {
  prefix: "iconify";
  prefixes: line-md, material-symbols-light;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  .ring-standard {
    @apply ring-1 ring-gray-200 dark:ring-gray-800;
  }

  .background-standard {
    @apply bg-neutral-100 dark:bg-neutral-900;
  }

  .text-standard {
    @apply text-gray-900 dark:text-white;
  }

  .text-interactive {
    @apply text-gray-600 hover:text-black dark:text-white dark:hover:text-gray-400 transition-colors;
  }

  .text-interactive-group {
    @apply text-gray-600 group-hover:text-black dark:text-white dark:group-hover:text-gray-400 transition-colors;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .skeleton-loader {
    @apply bg-gray-200 dark:bg-gray-800 rounded animate-pulse;
  }
}

@layer utilities {
  .button-hover {
    @apply hover:bg-gray-50 dark:hover:bg-gray-700 transition;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}